$themes: (
  light: (
    bgColor: #f1f3f6,
    circleBg: #ca8500,
    color: #111,
    neuColor1: #d2d3d6,
    neuColor2: #ffffff,
    neuStroke: #00000003,
    teal: #23777b,
    orange: #ca8500,
    display: #647a51,
  ),
  dark: (
    bgColor: #161f2f,
    circleBg: #23777b,
    color: #fff,
    neuColor1: #131b29,
    neuColor2: #192335,
    neuStroke: #ffffff03,
    teal: #23777b,
    orange: #ca8500,
    display: #88a273,
  ),
);
